@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4; /* Changed to light background color */
  z-index: 1000; /* Added z-index to ensure header stays above other elements */
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  color: #333; /* Changed text color to dark */
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}

.navbar .logo span {
  color: #C06B3E;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-top: 1.2%;
}

.navbar a {
  color: #333; /* Changed text color to dark */
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #C06B3E;
}

/* Add padding to the top of the content area */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  padding-top: 80px; /* Adjust the value based on the height of your header */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* Add top margin to the content */
  margin-top: 20px; /* Adjust the value based on the height of your header */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(30.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-info {
  padding: 15px;
}

/* Mobile Buttons */

#hamburger-btn,
#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #000;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
    z-index: 1000; /* Ensure the menu is above the overlay */
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .product {
    width: calc(50% - 20px);
  }

  /* Add styles for the mobile menu overlay */
  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 999; /* Ensure the overlay is above other elements */
  }
}

@media screen and (max-width: 480px) {
  .product {
    width: 100%;
  }
}
