
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4; /* Changed to light background color */
  z-index: 1000; /* Added z-index to ensure header stays above other elements */
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo img {
  width: 200px; /* Adjust the width of the logo image */
  height: auto; /* Maintain the aspect ratio of the logo */
}

.navbar .logo span {
  color: #C06B3E;
  
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-top: 1.2%;
}

.navbar a {
  color: #333; /* Changed text color to dark */
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #C06B3E;
}

/* Variable Definitions */
:root {
    --white: #fff;
    --black: #333;
    --lightergray: #d5d5d5;
    --lightgray: #f0f3f1;
    --gray: #e3dddd;
    --text: #888;
    --button: #3e3e3f;
    --button-hover: #565657;
  }
  
  /* Global Styles */
  *,
  *::before,
  *::after {
    box-sizing: border-box;

  }
  
  body {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--text);
    background: var(--white);
    text-rendering: optimizeLegibility;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  /* Links Styles */
  a {
    color: var(--text);
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  a:hover,
  a.active {
    color: var(--black);
  }
  
  /* Heading Styles */
  h1, h2, h3, h4 {
    color: var(--black);
    font-weight: normal;
    margin: 1.75rem 0 1rem 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2.125rem;
    margin: 0;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }
  
  /* Section Styles */
  section {
    display: block;
  }
  
  /* Image Styles */
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Navigation Styles */
  nav {
    display: block;
  }
  
  .flex-nav ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    width: 100%;
    left: 0;
    padding: 1rem;
    background: var(--white);
    text-align: center;
  }
  
  .flex-nav ul.active {
    display: flex;
  }
  
  .flex-nav ul li {
    margin: 0.5rem 0;
  }
  
  .toggle-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.125rem;
    line-height: 1.7;
    margin: 1rem 0;
  }
  
  .toggle-nav i {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 0 0.5rem;
  }
  
  /* Highlight Styles */
  #highlight {
    color: var(--black);
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  

  /* Breadcrumb Styles */
  .breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
  }
  
  .breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
  
  .breadcrumb-item.active {
    color: var(--black);
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 0.5rem;
    color: var(--lightergray);
  }
  
  /* Description Styles */
  .description {
    border-top: 0.0625rem solid var(--gray);
    margin: 2rem 0;
    padding: 1rem 0 0 0;
  }
  
  
  /* Container Styles */
  .container {
    margin: auto;
    padding: 0 1rem;
    max-width: 75rem;
    width: 100%;
  }
  
  /* Grid Styles */
  .grid > [class*="column-"] {
    padding: 1rem;
  }
  
  .grid.menu,
  .grid.product {
    border-bottom: 0.0625rem solid var(--gray);
  }
  
  .grid.menu > [class*="column-"] {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  
  .grid.product {
    padding: 0 0 1.5rem 0;
  }
  
  .grid.second-nav > [class*="column-"] {
    padding: 0.5rem 1rem;
  }
  
  /* Footer Styles */
  footer {
    padding: 1rem 0;
    text-align: center;
  }
  
  /* Product Image Styles */
  .product-image {
    display: flex;
  }
  
  /* Image List Styles */
  .image-list li {
    margin: 0;
  }
  /* Mobile Buttons */
  
#hamburger-btn,
#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #000;
  cursor: pointer;
  display: none;
}
  
  /* Media Queries */
  @media (min-width: 768px) {
    .product-image img,
    .image-list img {
      width: 100%;
    }
  
    .product-image {
      display: block;
    }
  
    .product-image img {
      height: 60vh;
    }
  
    .product-image img.active {
      display: block;
      margin: 0 0 0.75rem 0;
    }
  
    .image-list {
      display: flex;
      overflow: hidden;
    }
  
    .image-list li {
      margin: 0 0.75rem 0 0;
      flex-basis: 100%;
    }
  
    .image-list li:nth-child(3) {
      margin: 0;
    }
  
    .image-list img {
      height: 10rem;
      width: 100%;
      transition: opacity 0.3s ease;
      cursor: pointer;
    }
    
  
    .image-list img:hover {
      opacity: 0.7;
    }
  
    nav ul {
      justify-content: flex-end;
    }
  
    .toggle-nav {
      display: none;
    }
  
    .flex-nav {
      display: block;
    }
  
    .flex-nav ul {
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: flex-end;
    }
  
    .flex-nav ul li {
      font-size: 1.125rem;
      margin: 0 1.5rem 0 0;
    }
  
    .flex-nav ul li:nth-child(4) {
      margin: 0;
    }
  }
 /* Features Styles */
.features {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
  }

  
  .features h2 {
    color: #333;
  }
  
  .features ul {
    list-style-type: none;
    padding: ;
    list-style-type: disc; /* Default bullet style */
  }
  
  .features li {
    margin-bottom: 10px;
  }
  
  /* Specifications Styles */
  .specifications {
    margin-top: 3%;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
  }
  
  .specifications h2 {
    color: #333;
  }
  
  .specifications ul {
    list-style-type: none;
    padding: 0;
  }
  
  .specifications li {
    margin-bottom: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .features,
    .specifications {
      margin-right: 0;
      margin-bottom: 20px;
      flex: auto; /* Allow them to take full width in the column layout */
    }
   
  }
  @media (max-width: 1200px) {
    .navbar .logo  {
      padding-left:5%;
      padding-top:3%;
    }
}
  @media screen and (max-width: 768px) {
    #hamburger-btn,
    #close-menu-btn {
      display: block;
    }

    .image-list {
      display: none;
      overflow: hidden;
    }

    .navbar .logo {
        padding-left: 5%;
      }

    .navbar .menu-links {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: #fff;
      flex-direction: column;
      padding: 70px 40px 0;
      transition: left 0.2s ease;
      z-index: 1000; /* Ensure the menu is above the overlay */
    }
  
    header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar a {
      color: #000;
    }
  
  
    /* Add styles for the mobile menu overlay */
    header.show-mobile-menu::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      z-index: 999; /* Ensure the overlay is above other elements */
    }
  }
  /* Keyframes */
  @keyframes fadeImg {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  