html{
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .navbar-custom .navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 50%;
  }



  .navbar-custom .navbar-nav .nav-link {
    font-size: 1.2vw !important;
    font-weight: 600;
    transition: 0.3s;
    color: rgb(168, 168, 168);
    
  }

  .active {color: #012177 !important; }
  .navbar-custom .nav-item:hover .nav-link {color: #3959ae; }

  .navbar-toggler {
    border: none !important;
    
  }
}


@media (min-width: 576px) {
  .navbar-custom .navbar-nav .nav-link {
    font-size: 1.25rem;
    margin-left: 0 !important;
  }
}