@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color:rgba(0,0,0,0.69);
  backdrop-filter: blur(10px)
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}

.navbar .logo span {
  color: #C06B3E;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-top: 1.2%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #C06B3E;
}

.hero-section {
  height: 100vh;
  background-image: url("Group\ 1.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.hero-section .content h2, .aboutInfoText h2{
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content p, .aboutInfoText p{
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

/* About Us */

.aboutUs{
  box-sizing: border-box;
  padding-top: 10%;
  background-color: #090604;
  width: 100%;
  height: 135em;
}

.aboutInfo{
  display: flex;
  width: 65%;
  margin: auto;
}

.aboutInfoText{
  box-sizing: border-box;
  color:white;
  width: 50%;
  float:left;
  
}

.aboutInfoImage{
  box-sizing: border-box;
  width: 50%;
  float:right;
}

.aboutInfoImageOffer{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  float:right;
}

/* About Us Images */

.img1{
  height: 15vw;
  width: 27.45vw;
  float:right;
  background-image: url("../images/image1.png");
  background-size: 27.45vw 15vw ;
}

.img2{
  height: 15vw;
  width: 27.45vw;
  float:left;
  background-image: url("../images/image2.png");
  background-size: 27.45vw 15vw ;
}

.img7{
  margin-top: 20%;
  height: 17vw;
  width: 31.11vw;
  float:left;
  background-image: url("../images/image3.png");
  background-size: 31.11vw 17vw ;
}

.img3, .img4, .img5, .img6{
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
}

.img5, .img6{
  margin-top: 15%;
}

.img3{
  background-image: url("../images/6107A29C-0E07-4C34-8BD2-99FEAD1941E4.png");
  background-size: 60%;
}

.img4{
  background-image: url("../images/F6657FB4-99B2-4D36-BCDC-276916D70B78.png");
  background-size: 100%;
}

.img5{
  background-image: url("../images/7DEDBDEE-B712-4ED3-818A-04EFB64A10B7.png");
  background-size: 80%;
}

.img6{
  background-image: url("../images/BC4BBF49-8FA1-45D4-86B3-3532623290B6.png");
  background-size: 80%;
}

/* Animations */

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* Mobile Buttons */

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

/* MOBILE ONLY */

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

    
  #hamburger-btn, #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }


  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content,{
    text-align: center;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .hero-section .content button {
    padding: 9px 18px;
  }
}

